---
import PostHogLayout from '../layouts/PostHogLayout.astro'
import Layout from '../layouts/Layout.astro'
import SkillItems from '../components/SkillItems.astro'
import solLogo from '../images/icons/solidity.svg'
import foundryLogo from '../images/icons/foundry.png'
import typescriptLogo from '../images/icons/typescript.svg'
import tailwindLogo from '../images/icons/tailwindcss.svg'
import nextLogo from '../images/icons/next.svg'
import reactLogo from '../images/icons/react_light.svg'
import nodeLogo from '../images/icons/nodejs.svg'
import wevmLogo from '../images/icons/wevm.png'
import postgresLogo from '../images/icons/postgresql.svg'
---

<PostHogLayout>
  <Layout title='Gopinho - Portfolio'>
    <main class='flex flex-col gap-12 max-sm:py-10 py-20'>
      <div class='grid gap-4'>
        <h2 class='font-medium italic text-2xl mb-4'>
          "A ship is safe in a harbor, But thats not what ships are for."
        </h2>
        <div class='grid gap-4'>
          <p>
            Hello, I am Gopinho. I'm a <span class='font-semibold'
              >smart contracts</span
            > and <span class='font-semibold'>full-stack engineer</span>,
          </p>
          <p>
            A lifelong student who is building ethereum applications and smart
            contracts everyday since last 3+ years. Building future of money in
            hopes of giving power back to people.
          </p>
          <p>
            Check out my work <a href='/work' class='underline p-0'>here</a>
          </p>
        </div>
      </div>
      <div class='grid gap-4'>
        <h5 class='text-base font-semibold'>Preferred Stack</h5>
        <div class='grid grid-cols-2 sm:grid-cols-3 gap-3'>
          <SkillItems logo={solLogo} name='Solidity' />
          <SkillItems logo={foundryLogo} name='Foundry' />
          <SkillItems logo={wevmLogo} name='Viem | Wagmi' />
          <SkillItems logo={typescriptLogo} name='Typescript' />
          <SkillItems logo={nextLogo} name='Next.js' />
          <SkillItems logo={reactLogo} name='React' />
          <SkillItems logo={tailwindLogo} name='Tailwind CSS' />
          <SkillItems logo={nodeLogo} name='Node.js' />
          <SkillItems logo={postgresLogo} name='PostgreSQL' />
        </div>
      </div>
      <p>
        Contact me on <a
          href='https://twitter.com/gopiinho'
          target='_blank'
          rel='noopener'><span class='underline'>twitter</span></a
        >, <a href='https://github.com/gopiinho' target='_blank' rel='noopener'
          ><span class='underline'>github</span>,
          <a
            href='https://www.youtube.com/@gopiinho'
            target='_blank'
            rel='noopener'><span class='underline'>youtube</span></a
          ></a
        >, <a
          href='https://www.linkedin.com/in/gopinho/'
          target='_blank'
          rel='noopener'><span class='underline'>linkedIn</span></a
        > or via <a
          href='mailto:gopinho@protonmail.com'
          target='_blank'
          rel='noopener'><span class='underline'>email</span></a
        >.
      </p>
    </main>
  </Layout>
</PostHogLayout>
